body {
    font-family: 'popins', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    /* height: 20vh; */

    margin: 50px auto;
    max-width: 960px;
    width: 96%;
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
    /* text-align: center; */
    font-weight: 700;
    font-size: 50px;
}
p {
    text-align: center;
    text-align: justify;
    line-height: 25px;
    font-weight: 500;
    padding-bottom: 20px;
}
h5 {
    font-size: large;
    font-weight: normal;
}
span {
    color: red;
}
.width-problem {
    width: 50%;
    margin-left: 5%;
    margin-top: 5%;
}
.width-problem img {
    width: 80%;
    height: min-content;
}
.img-matter {
    display: flex;
}
.button {
    text-decoration: none;
    background-color: grey;
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5%;
}
/* a {
    padding-bottom: 20px;
} */
/* starting mission part */
.mission-part {
    display: flex;
}
/* .p {
    flex-direction: column;
} */
.img-icon {
    height: 100px;
}
.card {
    margin-left: 5%;
    padding: 15px;
    border-radius: 5%;
}
#card-1 {
    background-color: #edf5f6;
}
#card-2 {
    background-color: #ffeeee;
}
#card-3 {
    background-color: #fff4d6;
}
.another-h1 {
    text-align: center;
}
/* end of mission part */

/* start of develop part */
.another-h2 {
    font-weight: 800;
    font-size: bolder;
    line-height: 30px;
    letter-spacing: 2px;
}
/* .bg-img {
    background-image: url(./img/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
} */
/* end of develop part */

/* start footer */
.footer {
    background-color: #0b0d17;
    text-align: center;
}
#italy {
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    padding-top: 10px;
    font-weight: bolder;
    font-size: 30px;
}
#footer-p {
    color: white;
    text-align: center;
}